body {
    height: 204px;
    background-color: #404f54;
}
#form1 {
    
}

#PendingLeavessTile {
    border-radius: 10px;
    margin: 20px 0 8px 20px;
    float: left;
}
#DepartmentTileList {
    margin-left: 20px;
    background-color: #273033;
    padding-right: 0px;
    float: left;
    height: 330px !important;

}

#RadHtmlChart2 {
    float: left;
    margin-left: 1em;
    background-color: #273033;
}
#RadHtmlChart3 {
    float: left;
    
    background-color: #273033;
}

.rtlistScrollWrapper {
    width: 290px !important;
    
}
.RadTileList {
    overflow: visible !important;
    
}
.RadTileList .rtlistWrapper {
    padding-left: 18px;
}
.rtlistTitle {
    text-align: match-parent;
    padding: 0.32em 0 .42857143em 3.14285714em !important;
    color:white !important; 
}
#AbsenceRatioGraph {
    background-color: transparent;
    float:right;
    margin-right:20px;
}
#RadGrid1{
    
    background-color:white;
    margin-top: 0px;
}
svg {
    background-color: #273033 !important;
}
.RadGrid RadGrid_Default{
    margin:0 !important;
}